
.header {
  background-color: #6769B2; 
}
  .header .navbar {
    background-color: #6769B2; 
}
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #cac0c0 !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
  }
  .header .btn-ln{
    background: #6769B2;
    border: none;
  }
  .nav-link:hover {
    color: #007bff !important;
    background: orange;
    .btn-ln {
      background: orange;
      border: none;
    }
  }
 
.navbar-nav {
  margin-left: auto; 
}

.navbar-buttons .btn {
  margin-left: 10px; 
}
.btn {
  border-radius: 30px;
  font-size: 18px;
  background: black;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

nav-link.active {
  background-color: #007bff;
  color: #fff !important; 
  border-radius: 5px;
  .btn-ln {
    background: #007bff;
    border: none;
  }
   
}