footer{
  text-align: center;
}
.footer-section {
    padding: 20px 0;
    background-color: #343a40;
    color: #ffffff;
  }
  
  .footer-section p {
    margin: 0;
    font-size: 0.875rem;
  }

  .con1{
 width: 100%;
 align-items: center;
 position: relative;
  }
 
  .img2{
    display: block;
    width: 200px;
    margin-left: 100px;
    align-items: center;
  }
  .about{
    position: relative;
    width: 200px;
    align-items: center; 
  }
  .name1{
    position: relative;
     align-items: center;
     height: 60px;
     width: 195px;
     
   }
   
   span{
     font-weight: bolder;
     font-size: 13px;
     font-weight: 1000;
   }
   
   .eth{
     font-size: 15px;
     display: block;
    align-items: center;
   }
  .black{
    color: black;
  }
  .orange{
    color: orange;
  }
  .blue{
    color: blue;
  }
  .white{
    color: white;
  }
  .about a{
    text-decoration: none;
    
  }