.header {
  background-color: #6769B2; 
}
header .navbar {
  background-color: #6769B2; 
}
/* Navbar.css */
.active-link .btn-ln {
  position: relative;
  color: #007bff;
}

.active-link .btn-ln::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #007bff;
  left: 0;
  bottom: -5px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.btn-ln:hover::after {
  transform: scaleX(1);
}

.btn-ln::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #007bff;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.cont1{
  position: relative;
  /* padding-top: 20px; */
  height: 100px;
  width: 260px;
  
}
.img{

 float: left;
 margin-right: 5px;
  height: 60px;
  width: 60px;
}

.name1{
 position: relative;
  float: right;
  align-items: center;
  height: 60px;
  width: 195px;
  
}

span{
  font-weight: bolder;
  font-size: 13px;
  font-weight: 1000;
}

.eth{
  font-size: 15px;
  display: block;
 align-items: center;
}
.black{
  color: black;
}
.orange{
  color: orange;
}
.blue{
  color: blue;
}
.white{
  color: white;
}

.nav-link {
  color: #cac0c0 !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

header .btn {
  border-radius: 30px;
  font-size: 18px;
  background: black;
}

header .btn-ln {
  background: #6769B2;
  border: none;
}

nav .btn-ln:hover {
  background-color: #6769B2;
}

.block:hover {
  background: #6769B2;
  .btn-ln {
    border: none;
  }
}

/* .navbar-nav {
  margin-left: auto; 
  
} */


.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-buttons .btn {
  margin-left: 10px; 
}

link.active {
  text-decoration: underline gold;
  
  .btn-ln {
    text-decoration: underline solid gold;
    
    border: none;
  }
   
}
.custom-nav {
  margin-left: auto;
  
}