.icons-section {
    display: flex;
    align-items: center;
  }
  .cont1{
    position: relative;
    height: 100px;
    width: 245px;
    
  }
  .img{
  
   float: left;
   margin-right: 5px;
    height: 60px;
    width: 60px;
   
   
  }
  .name1{
   position: relative;
    float: right;
    align-items: center;
    height: 60px;
    width: 180px;
    
  }
  
  span{
    font-weight: bolder;
    font-size: 13px;
    font-weight: 1000;
  }
  .cont1{
    position: relative;
    height: 100px;
    width: 100%;
   
}
.img{
   float: left;
   margin-right: 5px;
    height: 60px;
    width: 60px;
   
}
.name1{
    margin-top: 17px;
    float: right;
    align-items: center;
    height: 60px;
    width: 300px;
   
}
  .admin-name {
    margin-left: 8px;
  }

  .notification-popup{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 60px; /* Adjust based on your navbar height */
    right: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(13, 185, 113);
    border-radius: 30px;
  }
  
  .settings-popup,
  .profile-popup {
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .notification-popup h4,
  .settings-popup h4,
  .profile-popup h4 {
    margin-bottom: 10px;
  }
  .header {
    width: 100%;
    background-color: rgb(103, 105, 178); 
  }
  header .navbar {
    background-color: #6769B2; 
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #cac0c0 !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
  }
  
  .header .btn-ln {
    background: #6769B2;
    border: none;
  }
  
  .nav-link:hover {
    color: #007bff !important;
    background: 007bff;
    .btn-ln {
      background: 007bff;
      border: none;
    }
  }
  
  /* .navbar-nav {
    margin-left: auto; 
    
  } */
  
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar-buttons .btn {
    margin-left: 10px; 
  }
  
  .btn {
    border-radius: 30px;
    font-size: 18px;
    background: black;
  }
  
  
  .nav-link.active {
    background-color: #007bff;
    color: #fff !important; 
    border-radius: 5px;
    .btn-ln {
      background: #007bff;
      border: none;
    }
     
  }
  .custom-nav {
    margin-left: auto;
    
  }
  .black{
    color: black;
  }
  .orange{
    color: orange;
  }
  .blue{
    color: blue;
  }
  .white{
    color: white;
  }