
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}


.features-section h2,
.courses-section h2,
.news-section h2,
.testimonials-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.feature-box,
.card,
.testimonial {
  background: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-section {
  background: #343a40;
  color: #fff;
}

.footer-section p {
  margin: 0;
}

/* Additional custom styles as needed */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
